/* ELEMENT STYLES -------------------- */

body {
  background: #f1f0e3; 
  font-family: arial;
  text-transform: uppercase;
}

header {
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #c99d63;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

/* FORMS */

form {
  display: flex;
  background-color: #c99d63;
}

input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  outline: none;
}

input[type=text]::-webkit-input-placeholder{
  color: #9c8d7b;
  letter-spacing: 2px;
}

input[type=text]:focus{
  background-color: #fadab1;
}

input[type=submit] {
  display: block;
  font-size: .6em;
  margin: 15px 15px 15px 0; 
  padding: 10px;
  background-color: #ffca85;
  border-radius: 5px;
  border: none;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button, 
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}

/* ICONS */

svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #F0F0F0;
}

@keyframes grow {
  50% { transform: scale(1.4) rotate(-3deg); }
}

/* COMPONENT STYLES -------------------- */

.shoppinglist {
  background: #fff;
  width: 700px;
  margin: 70px auto;
  border-radius: 6px;
  overflow: hidden;
}

.item {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
}

  

  .item-name:hover .remove-item {
    visibility: visible;
  }

  .item-name,
  .quantity {
    color:black;
  }

  .item-name {
    flex-grow: 1;
    line-height: 3.5em;
    padding-left: 10px;
  }

  .remove-item {
    font-size: 1.15em;
    border: none;
    outline: none;
    visibility: hidden;
    color: #EF5350;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
  }

.stats {
  width: 170px;
  margin: 0 0 0 28px;
  font-weight: normal;
}

  .stats td:first-child {
    text-align: right;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: .7em;
  }

  .stats td:last-child {
    text-align: left;
  }


.counter {
  display: flex;
  width: 190px;
}

  .counter-action {
    border: none;
    font-size: 1.15em;
    font-weight: bold;
    color: #B0AEBA;
    background-color: #DCDCDC;
    display: block;
    padding: 20px 20px;
    cursor: pointer;
    outline: none;
  }

  .counter-action:hover {
    color: #fff;
  }

  .increment:hover {
    background: #83D97C;
  }

  .decrement:hover {
    background: #EF5350;
  }

  .counter-score {
    flex-grow: 1;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    line-height: 2em;
  }